@import "npm:normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

:root {
  --bg-color: #121212;
  --text-color-primary: rgb(255 255 255 / 87%);
  --text-color-secondary: rgb(255 255 255 / 60%);
  --text-color-disabled: rgb(255 255 255 / 38%);
  --button-text-primary: rgb(255 255 255 / 95%);
  --button-text-secondary: var(--text-color-primary);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: Montserrat, sans-serif;
}

.scene {
  height: 100vh;
  width: 100vw;
  display: none;
}

.menu {
  flex-wrap: wrap;
}

.button {
  background-color: var(--button-bg, #363636);

  /* min-height: var(--button-height, 100px); */

  /* width: var(--button-height, 18ch); */
  line-height: normal;
  text-align: center;
  border-radius: 15px;
  border: none;
  color: var(--button-text-secondary, var(--text-color-secondary));
  font-size: var(--buttons-font-size, 2rem);
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: grid;
  padding: 0;
  overflow-wrap: break-word;
}

.button__text,
.button__icon {
  display: inline-block;
  justify-self: center;
  align-self: center;
  word-break: break-word;
}

.button:hover {
  font-weight: bold;
  color: var(--button-text-primary, var(--text-color-primary));
}

.menu__button {
  width: 100%;

  --button-width: 40vw;

  /* --button-height: 40vh; */
  --buttons-font-size: 3rem;
}

.go_to_menu_button {
  width: 4%;
}

#menu__start {
  --button-bg: #367236;
}

#menu__preferences {
  --button-bg: #363672;
}

#menu__statistics {
  --button-bg: #7c452d;
}

#menu__settings {
  --button-bg: #81742b;
}

#useful-button {
  display: none;
}

body[data-scene="menu"] .menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;

  /* padding: 10px; */
}

body[data-scene="quiz"] .quiz {
  display: flex;
}

.questions {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.question {
  --header-size: 2.5rem;

  list-style-type: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: "header" calc(var(--header-size) * 3) "key" 1fr;
}

.question__header {
  grid-area: header;
  font-size: var(--header-size);
  width: 100%;
  text-align: center;
  align-self: center;
  color: var(--text-color-secondary);
}

.keyword__key {
  grid-area: key;
  text-align: center;
  font-size: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.charades__key {
  grid-area: key;
  justify-self: center;
}

.question__button {
  --button-width: 12ch;
  --button-height: 4rem;
  --buttons-font-size: 2rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

.what_i_heard {
  position: absolute;
  bottom: 0;
  left: 45%;
}

.help_modal {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a3;
}

.help_modal input {
  height: 40px;
  border-width: 5px;
  border-color: cornflowerblue;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  background-color: #fffcd8;
}

.help_modal button {
  margin: 20px;
  color: white;
  border-color: #337e33;
  background-color: #337e33;
  border-radius: 10px;
  height: 50px;
}

.rec-button {
  width: 55px;
  height: 55px;
  font-size: 16;
  color: white;
  background-color: red;
  border: 0;
  border-radius: 35px;
  margin: 18px;
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.15s ease-in-out;
}

.rec-button:hover {
  cursor: pointer;
}

.rec-button.off {
  background-color: darkred;
}

.rec-button.on {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px 0 rgb(173 0 0 / 30%);
  }

  65% {
    box-shadow: 0 0 15px 13px rgb(173 0 0 / 30%);
  }

  90% {
    box-shadow: 0 0 15px 13px rgb(173 0 0 / 0%);
  }
}